<nav class="navbar navbar-inverse bg-primary collapse navbar-collapse">
  <a class="navbar-brand" href="/jogos">
    <img src='/simple1.png' width="400" height="51" class="d-inline-block align-top" alt="">
  </a>
</nav>
