<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cato Games</title>
    {{> header}}
  </head>
  <body>
    <div class="container">
      {{> navbar}}

    </br>
    </br>
    </br>

      <div class="card-deck">
  <div class="card">
    <a href="/jogo1"><img class="card-img-top" src="/sapo.png" alt="Card image cap" width="350px" height="250px"></a>
    <div class="card-block">
      <h4 class="card-title">Catch the fruit</h4>
      <p class="card-text">Try to catch as many fruit as possible, but be careful if you catch a toad you lose!</p>
      <a href="/jogo1" class="btn btn-primary">Play</a>
    </div>
  </div>
  <div class="card">
    <a href="/jogo2"><img class="card-img-top" src="/bola.png" alt="Card image cap"  width="350px" height="250px"></a>
    <div class="card-block">
      <h4 class="card-title">Ball game</h4>
      <p class="card-text">Try to make as many points as possible, you against the ball!</p>
  <a href="/jogo1" class="btn btn-primary">Play</a>
    </div>
  </div>
  <div class="card">
    <a href="/jogo3"><img class="card-img-top" src="/logo1.png" alt="Card image cap"></a>
    <div class="card-block">
      <h4 class="card-title">Ping Pong</h4>
      <p class="card-text">The classic Pong game, one of the first to computer games. Beat your opponent by getting to 5 points first.</p>
      <a href="/jogo1" class="btn btn-primary">Play</a>
    </div>
  </div>
</div>
</div>



    {{> footer}}
  </body>
</html>
