<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cato Games</title>

    {{> header}}

    <style media="screen">
      iframe {
        position: relative;
        left: 300px;
      }
    </style>
  </head>
  <body>
    {{> navbar}}
    <div class="container">

      <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/164045553/?autostart=false" frameborder="0" allowfullscreen></iframe>

    </div>

      {{> footer}}

  </body>
</html>
