<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cato Games</title>
    {{> header}}
  </head>
  <body>
      {{> navbar}}
    <div class="container">

      <div class="card-deck">
  <div class="card">
    <a href="/jogo1"><img class="card-img-top" src="/sapo.png" alt="Card image cap" width="100%"></a>
    <div class="card-block">
      <h4 class="card-title">Apanha a fruta</h4>
      <p class="card-text">Tenta apanhar o maior numero de fruta possivel, mas cuidado, se apanhares um sapo perdes!</p>
      <a href="/jogo1" class="btn btn-primary">Jogar</a>
    </div>
  </div>
  <div class="card">
    <a href="/jogo2"><img class="card-img-top" src="/bola.png" alt="Card image cap"  width="100%"></a>
    <div class="card-block">
      <h4 class="card-title">Jogo da Bola</h4>
      <p class="card-text">Tenta fazer o maior numero de pontos possivel, tu contra a bola!</p>
      <a href="/jogo2" class="btn btn-primary">Jogar</a>
    </div>
  </div>
  <div class="card">
    <a href="/jogo3"><img class="card-img-top" src="/pong.jpg" alt="Card image cap" width="100%"></a>
    <div class="card-block">
      <h4 class="card-title">Ping Pong</h4>
      <p class="card-text">O classico jogo Pong, um dos primeiros a jogos de computador. Vence o teu oponente chegando primeiro aos 10 pontos.</p>
      <a href="/jogo3" class="btn btn-primary">Jogar</a>
    </div>
  </div>
</div>
</div>

    {{> footer}}
  </body>
</html>
