<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cato Games</title>

<style media="screen">


  #main-logo {
    position: relative;
    top: 100px;
    left: 400px;
  }

  #portugal {
    position: relative;
    top: 200px;
    left: 30px;
  }

  #english {
    position: relative;
    top: 200px;
  }

</style>

  </head>
  <body>
    <img src="/2logo.png" alt="cato logo" id="main-logo" width="500px">
    <a href="/jogos"><img src="/british.png" alt="british flag" id="english" width="110px"></a>
    <a href="/jogos"><img src="/portugese.png" alt="bandeira de portugal" id="portugal" width="100px"></a>
  </body>
</html>
